node-red-flow.txt
[{"id":"16929572.e96d6b","type":"ibmiot","name":"9etpxf"},{"id":"e1399500.1ec668","type":"sensorTag","name":"sensorTag","topic":"tag","uuid":"","temperature":true,"humidity":true,"pressure":false,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":false,"x":188.857177734375,"y":373.142822265625,"z":"b3d8830c.4c278","wires":[["f8873e74.0778c"]]},{"id":"f37d4af1.0c82b8","type":"ibmiot out","authentication":"apiKey","apiKey":"16929572.e96d6b","outputType":"evt","deviceId":"ac87a315833f","deviceType":"SensorTag","eventCommandType":"evt","format":"json","data":"{\"d\":{\"temperature\": 3.2, \"humidity\": 40.2}","name":"IBM IoT App Out","service":"registered","x":694.2857666015625,"y":387.8571472167969,"z":"b3d8830c.4c278","wires":[]},{"id":"2bc5ac60.d43a54","type":"json","name":"","x":440,"y":387,"z":"b3d8830c.4c278","wires":[["ade4deeb.521b2","f37d4af1.0c82b8"]]},{"id":"ade4deeb.521b2","type":"debug","name":"","active":true,"console":"false","complete":"true","x":669,"y":599,"z":"b3d8830c.4c278","wires":[]},{"id":"f8873e74.0778c","type":"function","name":"ParseEvent","func":"var type = msg.topic;\nvar pos = type.lastIndexOf(\"/\") + 1;\ntype = type.substring(pos, type.length);\nvar newMsg = {\"topic\": msg.topic, \"eventOrCommandType\": type, \"payload\": msg.payload};\nvar newMsg2 = {\"topic\": msg.topic, \"payload\": msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":379,"y":551,"z":"b3d8830c.4c278","wires":[["2bc5ac60.d43a54"]]}]
